In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
plt.s

In [4]:
df = pd.read_csv("eurusd.csv",parse_dates=["Date"],index_col="Date")

In [5]:
df

               price
Date
2004-01-01  1.258194
2004-01-02  1.258194
2004-01-05  1.268698
2004-01-06  1.272103
2004-01-07  1.264095
...              ...
2020-06-24  1.131235
2020-06-25  1.125087
2020-06-26  1.122208
2020-06-29  1.122586
2020-06-30  1.124720

[4275 rows x 1 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4275 entries, 2004-01-01 to 2020-06-30
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   4275 non-null   float64
dtypes: float64(1)
memory usage: 66.8 KB